<mat-card class="product-card">
    <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>Id: {{item.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="item.image">
    <mat-card-content>
        <p>Price: {{item.price | currency:'EUR'}}</p>
        <p>Categorty: {{getCategory(item.itemCategoryId).categoryName}}</p>
        <p>Option(s): <span *ngFor="let oId of item.optionIds">{{getOption(oId).name}}, </span> </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="buy(item)">Buy</button>
    </mat-card-actions>
</mat-card>