button{
  border: 2px solid powderblue;
  padding: 30px;
  color: blueviolet;
}

.box-card {
  margin-left: 50px;
  cursor: pointer;
}

.box-card:hover {
  background: lightgrey;
}

.user-header {
  width: 100%;
  display: flex;
  mat-button-toggle-group {
    width: 100%;
    display: flex;
    mat-button-toggle {
      flex-grow: 1;
    }
  }
}

.pagetext{
  text-align: center;
}