button{
  border: 2px solid powderblue;
  padding: 5px;
  color: blueviolet;
}
button:hover{
  background: lightblue;
}

h2{
  margin-left: 75%;
}

mat-toolbar{
  a {
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
    height: 100%;
    img{ height: 80%}
  }
}
