<div>
  <link rel="stylesheet" href="app.component.scss">

  <mat-form-field style="margin-left:100px; margin-top:100px">
    <input matInput [(ngModel)]="formModel.optionName"  placeholder="Option name">
  </mat-form-field>

  <br>
  <br>
  <br>
  <button [disabled]=" formModel.optionName == ''  " mat-raised-button (click)="postForm()" style="margin-left:125px">{{ formModel.id === 0 ? 'Create' : 'Edit'}}</button>
  <button mat-raised-button (click)="clearForm()" style="margin-left:125px">Clear</button>
  <br>
  <br>
  <br>
  <mat-card *ngFor="let b of options" class="box-card" (click)="selectCard(b)">

    <br>
    <mat-card-title>Name: {{b.optionName}}</mat-card-title>
    <br>
    <mat-card-title>Id: {{b.id}}</mat-card-title>
    <mat-card-actions>
      <button mat-button (click)="DeleteUpdateOption(b.id)">Delete</button>
    </mat-card-actions>
  </mat-card>


</div>


<div>
  Hello World
</div>
