button{
  border: 2px solid powderblue;
  padding: 5px;
  color: blueviolet;
}
button:hover{
  background: lightblue;
}
.addBal{
  font-size: x-small;
  padding: 0.5px;
  border-radius: 2px;
}

.rectangle {
  height: 20px;
  padding: 20px;
  width: 100%;
  background-color: darkslategray;
  text-align: center;
  color: white;
  font-size: xx-large;
  font-family: "Agency FB";
}

mat-toolbar{
  display: flex;
  justify-content: space-between;
  padding: 5px 100px;
  div {
    display: flex;
    align-items: center;
    > * {
      margin: 0 5px;
    }

    a img {
      transform: scale(0.7);
    }
  }
}
