
*.info
*.info
WebShopApplication/obj/rider.project.restore.info
WebShopAPI/obj/rider.project.restore.info
WebShopApplication/obj/rider.project.restore.info
*.info
*.cache
*.json
*.cache
*.json
*.info
*.json
*.props
WebsShopDomain/obj/rider.project.restore.info
*.xml
*.xml
*.cache
*.cache
*.editorconfig
*.info
*.props
*.info
*.json
*.cache
*.json
*.props
