mat-grid-tile{
  background-color: lightgrey;
}

mat-card{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

}


.buy{
  background-color: black;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price{
  font-size: large;
  font-weight: bold;
}