<p>adminpage works!</p>
<div>
        <mat-form-field>
            <input matInput [(ngModel)]="formModel.optionName" style="margin-left:100px; margin-top:100px">
        </mat-form-field>
    <br>
        <mat-form-field>
             <input matInput [(ngModel)]="formModel.optionGroupId" style="margin-left:100px; margin-top:100px">
        </mat-form-field>
    <br>

    <button mat-raised-button (click)="createOption()" style="margin-left:125px; margin-top:100px">Create</button>

    <mat-card style="margin-top:30px"*ngFor="let o of options">
        <mat-card-title>
            {{o.optionName}}
        </mat-card-title>
        <mat-card-subtitle>
            {{o.optionGroupId}}
        </mat-card-subtitle>
    </mat-card>

</div>
