<h1 style="margin-left: 900px; margin-top: 20px"> Chose </h1>
<a href="adminitem"><button mat-raised-button style="margin-left:100px; margin-top:50px">Item</button></a>
<a href="adminoptiongroup"><button mat-raised-button style="margin-left:100px; margin-top:50px">Option Group</button></a>
<a href="admincategory"><button mat-raised-button style="margin-left:100px; margin-top:50px">Category</button></a>
<a href="adminoption"><button mat-raised-button style="margin-left:100px; margin-top:50px">Option</button></a>


<link rel="stylesheet" href="adminpage.component.scss">