button{
  border: 2px solid powderblue;
  color: blueviolet;
  cursor: pointer;
}

button:hover{
  background: lightblue;
}
.admin-button{
  border: 2px solid powderblue;
  padding: 20px;
  color: blueviolet;
  cursor: pointer;
}

.admin-button:hover{
  background: lightblue;
}
.category-card {
  margin-left: 50px;
  cursor: pointer;
}

.category-card:hover {
  background: lightgrey;
}
mat-form-field{
  margin-left:100px;
  margin-top:100px;
}

.admin-header {
  width: 100%;
  display: flex;
  mat-button-toggle-group {
    width: 100%;
    display: flex;
    mat-button-toggle {
      flex-grow: 1;
    }
  }
}

.content-wrapper{
  padding-left: 50px;
  padding-right: 50px;
}

mat-tab{
  width: 100%;
}

mat-tab-group{
  width: 100%;
}
.mat-tab-nav-bar{
  width: 100%;
}