button{
  border: 2px solid powderblue;
  padding: 30px;
  color: blueviolet;
  cursor: pointer;
}

.box-card {
  margin-left: 50px;
  cursor: pointer;
}

.box-card:hover {
  background: lightgrey;
}
