
<br>
<br>
<br>
<br>
<br>
<h1> WebT-Shop Login </h1>
<mat-form-field class="example-full-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input [(ngModel)]="email" matInput>
    </mat-form-field>
<br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" matInput type="password">

    </mat-form-field>
    <br>
    <button mat-raised-button (click)="login()  ">Log in
        <div routerLink="/adminpage/" *ngIf ="decodedToken.role == 'Admin'; else elseBlock">
        <li routerLink="/adminpage/"></li>
        </div>
    </button>

    <ng-template #elseBlock><span routerLink="/login/"></span></ng-template>