<h1 style="margin-left: 900px; margin-top: 20px"> Category</h1>

<a href="adminitem"><button mat-raised-button style="margin-left:100px; margin-top:50px">Item</button></a>
<a href="adminoptiongroup"><button mat-raised-button style="margin-left:100px; margin-top:50px">Option Group</button></a>
<a href="adminpage"><button mat-raised-button style="margin-left:100px; margin-top:50px">Option</button></a>

<div>
    <link rel="stylesheet" href="admincategory.component.scss">
    <mat-form-field style="margin-left:100px; margin-top:100px">
        <input matInput [(ngModel)]="formModel.categoryName" placeholder="Category Name">
    </mat-form-field>
    <br>

    <button mat-raised-button [disabled]="formModel.categoryName === '' " (click)="createCategory()" style="margin-left:125px; margin-top:100px">Create</button>

    <button mat-raised-button [disabled]="formModel.categoryName === ''" (click)="editCategory(this.formModel.id)" style="margin-left:125px; margin-top:100px">Edit</button>

    <button mat-raised-button (click)="clearForm()" style="margin-left:125px">Clear</button>

    <mat-card style="margin-top:30px"*ngFor="let c of categorys" class="option-card" (click)="selectCard(c)">
        <mat-card-title>
            Name: {{c.categoryName}}
        </mat-card-title>
        <mat-card-subtitle>
            Id: {{c.id}}
        </mat-card-subtitle>
    </mat-card>

</div>