<div>
    <link rel="stylesheet" href="admincategory.component.scss">

    <mat-form-field class="form-fieldName">
        <input matInput [(ngModel)]="formModel.categoryName" placeholder="Category Name">
    </mat-form-field>
    <br>

    <button class="ButtonCategoryCreate" mat-raised-button [disabled]="formModel.categoryName === '' " (click)="createCategory()">Create</button>

    <button  class="categoryButton" mat-raised-button [disabled]="formModel.categoryName === ''" (click)="editCategory(this.formModel.id)">Edit</button>

    <button class="categoryButton" mat-raised-button (click)="clearForm()" style="margin-left:125px">Clear</button>
    <br>
    <mat-card style="margin-top:30px" *ngFor="let c of categories" class="category-card" (click)="selectCard(c)">
        <mat-card-title>
            Name: {{c.categoryName}}
        </mat-card-title>
        <mat-card-subtitle>
            Id: {{c.id}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            <button class="Delete" mat-raised-button [disabled]="formModel.categoryName === ''" (click)="deleteEditCategory(this.formModel.id)">Delete</button>
        </mat-card-subtitle>
    </mat-card>

</div>