<link rel="stylesheet" href="adminitem.component.scss">

<div>

    <mat-form-field >
        <input matInput [(ngModel)]="formModel.name"placeholder="Item Name">
    </mat-form-field>
    <mat-form-field >
        <input matInput [(ngModel)]="formModel.price"placeholder="Item Price">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select [formControl]="categoryControl" required>
            <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.categoryName}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryControl.hasError('required')">Please choose an category</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Options</mat-label>
        <mat-select [formControl]="optionsControl" multiple>
            <mat-option *ngFor="let option of options" [value]="option.id">{{option.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <button mat-raised-button [disabled]="formModel.name === '' || formModel.price == 0 || categoryControl.invalid" (click)="createItem()">Create</button>

    <button mat-raised-button [disabled]="formModel.name === ''|| formModel.price == 0 || categoryControl.invalid" (click)="editItem(this.formModel.id)">Edit</button>

    <button mat-raised-button (click)="clearForm()">Clear</button>

    <mat-card *ngFor="let i of items" class="item-card" (click)="selectCard(i)">
        <mat-card-title>
           Name: {{i.name}}
        </mat-card-title>
        <mat-card-subtitle >
            Price: {{i.price}}
        </mat-card-subtitle>
            Categorty:
        <mat-card-subtitle>
            Id: {{i.id}}
        </mat-card-subtitle>
    </mat-card>

</div>
