<h1 style="margin-left: 900px; margin-top: 20px"> Item </h1>

<a href="adminpage"><button mat-raised-button style="margin-left:100px; margin-top:50px">Option</button></a>
<a href="adminoptiongroup"><button mat-raised-button style="margin-left:100px; margin-top:50px">OptionGroup</button></a>
<a href="admincategory"><button mat-raised-button style="margin-left:100px; margin-top:50px">Category</button></a>


<div>
    <link rel="stylesheet" href="adminitem.component.scss">
    <mat-form-field style="margin-left:100px; margin-top:100px">
        <input matInput [(ngModel)]="formModel.itemName"placeholder="Item Name">
    </mat-form-field>
    <mat-form-field style="margin-left:100px; margin-top:100px">
        <input matInput [(ngModel)]="formModel.price"placeholder="Item Price">
    </mat-form-field>
    <mat-form-field style="margin-left:100px; margin-top:100px">
        <input matInput [(ngModel)]="formModel.itemCategoryId"placeholder="itemCategory Id">
    </mat-form-field>
    <br>

    <button mat-raised-button [disabled]="formModel.itemName === '' || formModel.price == 0 || formModel.itemCategoryId == 0" (click)="createItem()" style="margin-left:125px; margin-top:100px">Create</button>

    <button mat-raised-button [disabled]="formModel.itemName === ''|| formModel.price == 0 || formModel.itemCategoryId == 0" (click)="editItem(this.formModel.id)" style="margin-left:125px; margin-top:100px">Edit</button>

    <button mat-raised-button (click)="clearForm()" style="margin-left:125px">Clear</button>

    <mat-card style="margin-top:30px"*ngFor="let i of items" class="option-card" (click)="selectCard(i)">
        <mat-card-title>
            {{i.name}}
        </mat-card-title>
        <mat-card-subtitle>
            Id: {{i.id}}
        </mat-card-subtitle>
    </mat-card>

</div>
