button{
  border: 2px solid powderblue;
  padding: 20px;
  color: blueviolet;
  cursor: pointer;
}

button:hover{
  background: lightblue;
}

.Delete{
  border: 2px solid powderblue;
  padding: 20px;
  color: blueviolet;
  cursor: pointer;
}


.Delete:hover{
  background: lightblue;
}

.optionGroup-card {
  margin-left: 50px;
  cursor: pointer;
}

.optionGroup-card:hover {
  background: lightgrey;
}

mat-card{
  margin-top: 20px;
}