<div class="">
    <link rel="stylesheet" href="adminoptiongroup.component.scss">

    <mat-form-field style="margin-left:100px; margin-top:100px">
        <input matInput [(ngModel)]="formModel.name"placeholder="OptionGroup Name">
    </mat-form-field>
    <br>

    <button mat-raised-button [disabled]="formModel.name === ''" (click)="createOptionGroup()" style="margin-left:125px; margin-top:100px">Create</button>

    <button mat-raised-button [disabled]="formModel.name === ''" (click)="editOptionGroup(this.formModel.id)" style="margin-left:125px; margin-top:100px">Edit</button>

    <button mat-raised-button (click)="clearForm()" style="margin-left:125px">Clear</button>

    <mat-card *ngFor="let og of optiongroups" class="optionGroup-card" (click)="selectCard(og)">
        <mat-card-title>
            {{og.name}}
        </mat-card-title>
        <mat-card-subtitle>
            Id: {{og.id}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            <button class="Delete" mat-raised-button [disabled]="formModel.name === ''" (click)="deleteEditOptionGroup(this.formModel.id)">Delete</button>
        </mat-card-subtitle>
    </mat-card>

</div>
